Source: libevhtp
Version: 1.2.18
Homepage: https://github.com/criticalstack/libevhtp
Build-Depends: libevent
Description: Libevhtp was created as a replacement API for Libevent's current HTTP API. 

Feature: openssl
Description: Support SSL for libevhtp
Build-Depends: openssl

Feature: thread
Description: Support thread for libevhtp

Feature: regex
Description: Support oniguruma for libevhtp
Build-Depends: oniguruma