Source: pixman
Version: 0.38.0-3
Homepage: https://www.cairographics.org/releases
Description: Pixman is a low-level software library for pixel manipulation, providing features such as image compositing and trapezoid rasterization.
