Source: libevent
Version: 2.1.11-3
Build-Depends: openssl
Homepage: https://github.com/libevent/libevent
Description: An event notification library
Default-Features: thread

Feature: openssl
Description: Support for openssl
Build-Depends: openssl, libevent[thread]

Feature: thread
Description: Support for thread
