Source: openexr
Version: 2.3.0-3
Homepage: https://www.openexr.com/
Description: OpenEXR is a high dynamic-range (HDR) image file format developed by Industrial Light & Magic for use in computer imaging applications
Build-Depends: zlib
