Source: boost
Version: 1.65.1-3
Description: Peer-reviewed portable C++ source libraries
Build-Depends: zlib, bzip2

Feature: locale-icu
Description: ICU backend for Boost.Locale
Build-Depends: icu

Feature: regex-icu
Description: ICU support for Boost.Regex
Build-Depends: icu

Feature: python
Description: a C++ library which enables seamless interoperability between C++ and the Python programming language.
Build-Depends: python3
