Source: prometheus-cpp
Version: 0.7.0
Description: Prometheus Client Library for Modern C++
Default-Features: compression, pull

Feature: compression
Build-Depends: zlib
Description: Enable zlib compression

Feature: tests
Build-Depends: gtest
Description: Additional testing support

Feature: pull
Build-Depends: civetweb
Description: Support for regular pull mode

Feature: push
Build-Depends: curl
Description: Support push gateway
