Source: theia
Version: 0.7-d15154a-5
Build-Depends: flann, cereal, ceres[suitesparse] (!x86), openimageio, glew, freeglut (!osx)
Description: An open source library for multiview geometry and structure from motion
