Source: polyhook2
Version: 2019-10-24
Homepage: https://github.com/stevemk14ebr/PolyHook_2_0
Description: C++17, x86/x64 Hooking Libary v2.0
Build-Depends: capstone

Feature: tool
Description: Build tests