Source: polyhook2
Version: 2020-02-17
Homepage: https://github.com/stevemk14ebr/PolyHook_2_0
Description: C++17, x86/x64 Hooking Libary v2.0
Build-Depends: capstone[x86]

Feature: tool
Description: Build tests
