Source: constexpr-contracts
Version: 2020-08-09
Port-Version: 1
Homepage: https://github.com/cjdb/constexpr-contracts
Description: A constexpr-friendly, optimisation-friendly contracts library.
Supports: !linux