Source: kf5crash
Version: 5.64.0
Homepage: https://api.kde.org/frameworks/kcrash/html/index.html
Description: KCrash provides support for intercepting and handling application crashes.
Supports: linux
Build-Depends: ecm, kf5coreaddons, kf5widgetsaddons
