Source: kf5crash
Version: 5.73.0
Homepage: https://api.kde.org/frameworks/kcrash/html/index.html
Description: KCrash provides support for intercepting and handling application crashes.
Supports: linux
Build-Depends: ecm, kf5coreaddons, kf5windowsystem, qt5-x11extras (linux)
