Source: ned14-internal-quickcpplib
Version: 0.0.0-24d92c71
Homepage: https://github.com/ned14/quickcpplib
Description: NOT FOR EXTERNAL CONSUMPTION, a set of internal scripts used by ned14's libraries.
Build-Depends: byte-lite, gsl-lite
