Source: pangolin
Version: 0.5
Port-Version: 11
Build-Depends: eigen3, glew, libpng, libjpeg-turbo, ffmpeg
Homepage: https://github.com/stevenlovegrove/Pangolin
Description: Lightweight GUI Library
Supports: !uwp & !osx
