Source: llvm
Version: 10.0.0
Homepage: https://llvm.org/
Description: The LLVM Compiler Infrastructure
Supports: !uwp
Default-Features: tools, utils, enable-rtti, clang, clang-tools-extra, lld

Feature: tools
Description: Build LLVM tools.

Feature: utils
Description: Build LLVM utils.

Feature: enable-rtti
Description: Build LLVM with run-time type information.

Feature: enable-assertions
Description: Build LLVM with assertions.

Feature: clang
Description: Build C Language Family Front-end.

Feature: clang-tools-extra
Description: Build Clang tools.

Feature: compiler-rt
Description: Build compiler's runtime libraries.

Feature: lld
Description: Build LLVM linker.

Feature: openmp
Description: Build LLVM OpenMP libraries.

Feature: lldb
Description: Build LLDB debugger.

Feature: polly
Description: Build polyhedral optimizations for LLVM.
