Source: llvm
Version: 11.1.0
Homepage: https://llvm.org/
Description: The LLVM Compiler Infrastructure
Supports: !uwp
Default-Features: enable-rtti, disable-assertions, disable-abi-breaking-checks, disable-clang-static-analyzer, default-targets, tools, clang, lld

Feature: tools
Description: Build LLVM tools.

Feature: utils
Description: Build LLVM utils.

Feature: default-targets
Description: Build with platform-specific default targets
Build-Depends: llvm[core,target-x86] (x86|x64), llvm[core,target-arm] (arm&!arm64), llvm[core,target-aarch64] (arm64), llvm[core,target-all] (!x86&!x64&!arm&!arm64)

Feature: default-projects
Description: Build with platform-specific default projects
Build-Depends: llvm[core,clang,clang-tools-extra,compiler-rt,flang,libclc,libcxx,libcxxabi,libunwind,lld,lldb,mlir,openmp,parallel-libs,polly,pstl] (!windows), llvm[core,clang,clang-tools-extra,compiler-rt,lld,lldb] (windows)

Feature: target-all
Description: Build with all backends.
Build-Depends: llvm[core,target-aarch64,target-amdgpu,target-arm,target-avr,target-bpf,target-hexagon,target-lanai,target-mips,target-msp430,target-nvptx,target-powerpc,target-riscv,target-sparc,target-systemz,target-webassembly,target-x86,target-xcore]

Feature: target-aarch64
Description: Build with AArch64 backend.

Feature: target-amdgpu
Description: Build with AMDGPU backend.

Feature: target-arm
Description: Build with ARM backend.

Feature: target-avr
Description: Build with AVR backend.

Feature: target-bpf
Description: Build with BPF backend.

Feature: target-hexagon
Description: Build with Hexagon backend.

Feature: target-lanai
Description: Build with Lanai backend.

Feature: target-mips
Description: Build with Mips backend.

Feature: target-msp430
Description: Build with MSP430 backend.

Feature: target-nvptx
Description: Build with NVPTX backend.

Feature: target-powerpc
Description: Build with PowerPC backend.

Feature: target-riscv
Description: Build with RISCV backend.

Feature: target-sparc
Description: Build with Sparc backend.

Feature: target-systemz
Description: Build with SystemZ backend.

Feature: target-webassembly
Description: Build with WebAssembly backend.

Feature: target-x86
Description: Build with X86 backend.

Feature: target-xcore
Description: Build with XCore backend.

Feature: enable-rtti
Description: Build LLVM with run-time type information.

Feature: enable-assertions
Description: Build LLVM with assertions.

Feature: disable-assertions
Description: Build LLVM without assertions.

Feature: enable-abi-breaking-checks
Description: Build LLVM with LLVM_ABI_BREAKING_CHECKS=FORCE_ON.

Feature: disable-abi-breaking-checks
Description: Build LLVM with LLVM_ABI_BREAKING_CHECKS=FORCE_OFF.

Feature: clang
Description: Include C Language Family Front-end.
Build-Depends: llvm[core,tools,compiler-rt]

Feature: disable-clang-static-analyzer
Description: Build without static analyzer.

Feature: clang-tools-extra
Description: Include Clang tools.

Feature: compiler-rt
Description: Include compiler's runtime libraries.

Feature: flang
Description: Include Fortran front end.
Build-Depends: llvm[core,tools,mlir]

Feature: libclc
Description: Include OpenCL library.

Feature: libcxx
Description: Include libcxx library.
Build-Depends: llvm[core,libcxxabi]

Feature: libcxxabi
Description: Include libcxxabi library.

Feature: libunwind
Description: Include libunwind library.

Feature: lld
Description: Include LLVM linker.
Build-Depends: llvm[core,tools]

Feature: lldb
Description: Include LLVM debugger.
Build-Depends: llvm[core,tools]

Feature: mlir
Description: Include MLIR (Multi-Level IR Compiler Framework) project.
Build-Depends: llvm[core,tools]

Feature: openmp
Description: Include LLVM OpenMP libraries.
Build-Depends: llvm[core,utils]

Feature: parallel-libs
Description: Include parallel-libs project.

Feature: polly
Description: Include Polly (Polyhedral optimizations for LLVM) project.
Build-Depends: llvm[core,tools,utils]

Feature: pstl
Description: Include pstl (Parallel STL) library.
