Source: qt5-virtualkeyboard
Version: 5.12.7
Description: Qt5 Virtual Keyboard Module - A framework for implementing different input methods. Supports localized keyboard layouts and custom visual themes
Build-Depends:  qt5-svg, qt5-quickcontrols, qt5-multimedia, qt5-quickcontrols
