Source: microsoft-signalr
Version: 0.1.0-alpha3
Port-Version: 0
Description: C++ Client for ASP.NET Core SignalR.
Default-Features: default-features
Homepage: https://github.com/aspnet/SignalR-Client-Cpp

Feature: default-features
Build-Depends: microsoft-signalr[cpprestsdk] (!uwp)
Description: Features installed by default

Feature: cpprestsdk
Description: Add default Http and WebSocket implementations using CppRestSDK
Build-Depends: cpprestsdk[default-features,websockets]

Feature: messagepack
Description: Add support for the messagepack hub protocol, must enable in code still
Build-Depends: msgpack