Source: paraview
Version: 5.7.0
Homepage: https://www.paraview.org/
Description: VTK-based Data Analysis and Visualization Application
Build-Depends: vtk[paraview], protobuf, boost-core, boost-format, boost-algorithm
Default-Features:

Feature: all_modules
Description: enables the build of all paraview modules
Build-Depends: gdal, pdal, ffmpeg, laszip
