Source: ocilib
Version: 4.7.1
Homepage: https://vrogier.github.io/ocilib/
Description: OCILIB is an open source and cross platform Oracle Driver that delivers efficient access to Oracle databases.
Supports: !(arm|uwp)