Source: mesa
Version: 20.2.2
Homepage: https://www.mesa3d.org/
Description: Mesa - The 3D Graphics Library
Build-Depends: zlib, zstd, tool-meson
Default-Features: llvm

Feature: llvm
Description: Build with llvmpipe
Build-Depends: llvm[core]
