Source: mesa
Version: 19.3.3
Homepage: https://www.mesa3d.org/
Description: Mesa - The 3D Graphics Library
Build-Depends: drm, elfutils, wayland, wayland-protocols, xdamage, xshmfence, x11, xcb, xfixes, xext, xxf86vm, xrandr, egl-registry
