Source: halide
Version: 10.0.0
Homepage: https://github.com/halide/Halide
Description: Halide is a programming language designed to make it easier to write high-performance image and array processing code on modern machines.
Supports: !uwp
Default-Features: jit
Build-Depends: llvm[enable-rtti,tools,clang]

Feature: jit
Description: Include targets required for jit compilation
Build-Depends: halide[core,target-x86] (x86|x64), halide[core,target-arm] (arm&!arm64), halide[core,target-aarch64] (arm64), halide[target-all] (!x86&!x64&!arm&!arm64)

Feature: target-all
Description: Include all targets
Build-Depends: halide[core,target-aarch64,target-amdgpu,target-arm,target-d3d12compute,target-hexagon,target-metal,target-mips,target-nvptx,target-opencl,target-opengl,target-powerpc,target-riscv,target-x86]

Feature: target-aarch64
Description: Include AArch64 target
Build-Depends: llvm[core,target-aarch64]

Feature: target-amdgpu
Description: Include AMDGPU target
Build-Depends: llvm[core,target-amdgpu]

Feature: target-arm
Description: Include ARM target
Build-Depends: llvm[core,target-arm]

Feature: target-d3d12compute
Description: Include Direct3D 12 Compute target

Feature: target-hexagon
Description: Include Hexagon target
Build-Depends: llvm[core,target-hexagon]

Feature: target-metal
Description: Include Metal target

Feature: target-mips
Description: Include Mips target
Build-Depends: llvm[core,target-mips]

Feature: target-nvptx
Description: Include NVPTX target
Build-Depends: llvm[core,target-nvptx]

Feature: target-opencl
Description: Include OpenCL-C target

Feature: target-opengl
Description: Include OpenGL/GLSL target

Feature: target-powerpc
Description: Include PowerPC target
Build-Depends: llvm[core,target-powerpc]

Feature: target-riscv
Description: Include RISCV target
Build-Depends: llvm[core,target-riscv]

Feature: target-x86
Description: Include X86 target
Build-Depends: llvm[core,target-x86]
