Source: azure-uhttp-c
Version: 2019-03-18
Build-Depends: azure-c-shared-utility
Description: Azure HTTP Library written in C

Feature: public-preview
Description: Azure HTTP Library written in C (public preview)
Build-Depends: azure-c-shared-utility[public-preview]
