Source: azure-uhttp-c
Version: 2019-10-07.2
Build-Depends: azure-c-shared-utility, azure-macro-utils-c, umock-c
Description: Azure HTTP Library written in C

Feature: public-preview
Description: Azure HTTP Library written in C (public preview)
Build-Depends: azure-c-shared-utility[public-preview], azure-macro-utils-c, umock-c
