Source: azure-uhttp-c
Version: 1.1.11-3
Build-Depends: azure-c-shared-utility
Description: Azure HTTP Library written in C

Feature: public-preview
Description: Azure HTTP Library written in C (public preview)
Build-Depends: azure-c-shared-utility[public-preview]
