Source: hdf5
Version: 1.10.5-1
Description: HDF5 is a data model, library, and file format for storing and managing data
Build-Depends: zlib, szip

Feature: parallel
Description: parallel support for HDF5
Build-Depends: msmpi

Feature: cpp
Description: Builds cpp lib
