Source: liblas
Version: 1.8.1
Port-Version: 7
Build-Depends: boost, boost-thread, boost-system, boost-iostreams, boost-filesystem, boost-detail, libgeotiff, libjpeg-turbo, zlib
Description: A C/C++ library for reading and writing the very common LAS LiDAR format.

Feature: gdal
Build-Depends: gdal
Description: Support gdal