Source: ctp
Version: 6.6.1_P1_20210406_se
Port-Version: 0
Homepage: http://www.sfit.com.cn/index.htm
Description: The Comprehensive Transaction Platform (CTP) is a future brokerage management system developed specially for futures companies. CTP API client library allows users to connect to CTP gateway for algorithmic trading.

Feature: datacollect
Description: Data collect support of CTP
