Source: nativefiledialog
Version: 2019-08-28
Description: A tiny, neat C library that portably invokes native file open and save dialogs
Homepage: https://github.com/mlabbe/nativefiledialog
Supports: !uwp

Feature: zenity
Description: Using Zenity backend on Linux
