Source: corrade
Version: 2019.01-1
Description: C++11/C++14 multiplatform utility library
Homepage: https://magnum.graphics/corrade/
Default-Features: interconnect, pluginmanager, testsuite, utility

Feature: interconnect
Description: Interconnect library
Build-Depends: corrade[utility]

Feature: pluginmanager
Description: PluginManager library
Build-Depends: corrade[utility]

Feature: testsuite
Description: TestSuite library
Build-Depends: corrade[utility]

Feature: utility
Description: Utility library
