Source: glslang
Version: 2020-03-18
Homepage: https://github.com/KhronosGroup/glslang
Description: Khronos reference front-end for GLSL and ESSL, and sample SPIR-V generator
Default-Features: optimizer

Feature: optimizer
Description: Enables spirv-opt capability & HLSL input support
Build-Depends: spirv-tools
