Source: soci
Version: 3.2.3-4
Homepage: https://github.com/SOCI/soci
Description: SOCI database access library

Feature: boost
Build-Depends: boost-date-time, boost-fusion, boost-optional, boost-preprocessor, boost-tuple
Description: Integration with Boost

Feature: sqlite3
Build-Depends: sqlite3
Description: Build sqlite3 backend

Feature: postgresql
Build-Depends: libpq
Description: Build postgresql backend

Feature: odbc
Description: Build odbc backend
