Source: libp7client
Version: 5.2
Port-Version: 2
Description: Open source, cross-platform, fastest library for sending logs, telemetry & trace data from your application.
Supports: windows & !(arm|uwp)