Source: draco
Version: 1.3.5
Homepage: https://github.com/google/draco
Description: A library for compressing and decompressing 3D geometric meshes and point clouds. It is intended to improve the storage and transmission of 3D graphics.
Build-Depends:
