Source: graphicsmagick
Maintainer: josuegomes@gmail.com
Version: 1.3.31-1
Build-Depends: zlib, bzip2, freetype, libjpeg-turbo, libpng, tiff
Homepage: https://sourceforge.net/projects/graphicsmagick/
Description: Image processing library
