Source: luafilesystem
Version: 1.7.0.2
Homepage: https://github.com/keplerproject/luafilesystem
Description: LuaFileSystem is a Lua library developed to complement the set of functions related to file systems offered by the standard Lua distribution.
Build-Depends: lua
