Source: directxtk12
Version: jan2021b
Homepage: https://walbourn.github.io/directx-tool-kit-for-directx-12
Description: A collection of helper classes for writing DirectX 12 code in C++.
Supports: windows

