Source: opencv
Version: 3.3.1-2
# Optional: Add in vtk to build with VTK and cuda to build with CUDA
Build-Depends: zlib, libpng, libjpeg-turbo, tiff, protobuf (windows)
Description: computer vision library
