Source: qt5
Version: 5.12.7
Homepage: https://www.qt.io/
Description: Qt5 Application Framework
Build-Depends: qt5-base
Default-Features: essentials, default

Feature: essentials
Build-Depends: qt5[core, tools, networkauth, quickcontrols2, multimedia, imageformats, declarative, svg, activeqt]
Description: Build the essential qt modules

Feature: latest
Build-Depends: qt5-base[core, latest]
Description: Build latest qt version (5.14.1) instead of LTS

Feature: default
Build-Depends: qt5[core, 3d, webchannel, websockets, extras, sensors, serialport, speech, virtualkeyboard, purchasing, scxml, charts, datavis3d, gamepad, graphicaleffects, location, webglplugin, webview, translations, remoteobjects, connectivity]
Description: Build the essential qt modules

Feature: all
Build-Depends: qt5[3d, webchannel, websockets, extras, xmlpatterns, sensors, serialport, speech, svg, tools, virtualkeyboard, networkauth, purchasing, quickcontrols, quickcontrols2, script, scxml, activeqt, charts, datavis3d, declarative, gamepad, graphicaleffects, imageformats, location, multimedia, mqtt, webglplugin, webview, serialbus, translations, doc, remoteobjects, connectivity], qt5[core,webengine] (!static), qt5[core,wayland] (!windows)
Description: Install all Qt5 submodules (Warning: Could take a long time and fail...)

Feature: extras
Build-Depends: qt5-winextras (windows), qt5-macextras (osx), qt5-x11extras (linux), qt5-androidextras (android)
Description: 

Feature: 3d
Build-Depends: qt5-3d
Description: 

Feature: webchannel
Build-Depends: qt5-webchannel
Description: 

Feature: websockets
Build-Depends: qt5-websockets
Description: 

Feature: xmlpatterns
Build-Depends: qt5-xmlpatterns
Description: (deprecated)

Feature: sensors
Build-Depends: qt5-sensors
Description: 

Feature: serialport
Build-Depends: qt5-serialport
Description: 

Feature: speech
Build-Depends: qt5-speech
Description: 

Feature: svg
Build-Depends: qt5-svg
Description: 

Feature: tools
Build-Depends: qt5-tools
Description: 

Feature: virtualkeyboard
Build-Depends: qt5-virtualkeyboard
Description: 

Feature: networkauth
Build-Depends: qt5-networkauth
Description: 

Feature: purchasing
Build-Depends: qt5-purchasing
Description: 

Feature: quickcontrols
Build-Depends: qt5-quickcontrols
Description: (deprecated)

Feature: quickcontrols2
Build-Depends: qt5-quickcontrols2
Description: 

Feature: script
Build-Depends: qt5-script
Description: (deprecated)

Feature: scxml
Build-Depends: qt5-scxml
Description: 

Feature: activeqt
Build-Depends: qt5-activeqt (windows)
Description: Windows Only

Feature: charts
Build-Depends: qt5-charts
Description: 

Feature: datavis3d
Build-Depends: qt5-datavis3d
Description: 

Feature: declarative
Build-Depends: qt5-declarative
Description: 

Feature: gamepad
Build-Depends: qt5-gamepad
Description: 

Feature: graphicaleffects
Build-Depends: qt5-graphicaleffects
Description: 

Feature: declarative
Build-Depends: qt5-declarative
Description: 

Feature: imageformats
Build-Depends: qt5-imageformats
Description: 

Feature: location
Build-Depends: qt5-location
Description: 

Feature: multimedia
Build-Depends: qt5-multimedia
Description: 

Feature: mqtt
Build-Depends: qt5-mqtt
Description: 

Feature: webglplugin
Build-Depends: qt5-webglplugin
Description: 

Feature: webview
Build-Depends: qt5-webview
Description: 

Feature: wayland
Build-Depends: qt5-wayland
Description: 

Feature: webengine
Build-Depends: qt5-webengine
Description: 

Feature: serialbus
Build-Depends: qt5-serialbus
Description: 

Feature: translations
Build-Depends: qt5-translations
Description: 

Feature: doc
Build-Depends: qt5-doc
Description: 

Feature: remoteobjects
Build-Depends: qt5-remoteobjects
Description: 

Feature: connectivity
Build-Depends: qt5-connectivity
Description: 

Feature: canvas3d
Build-Depends: qt5-canvas3d
Description: deprecated and removed in latest