Source: cpr
Version: 1.3.0-7
Homepage: https://github.com/whoshuu/cpr
Description: C++ Requests is a simple wrapper around libcurl inspired by the excellent Python Requests project.
Build-Depends: curl[core]
