Source: protobuf
Version: 3.5.1
Homepage: https://github.com/google/protobuf
Description: Protocol Buffers - Google's data interchange format

Feature: zlib
Homepage: https://github.com/google/protobuf
Description: ZLib based features like Gzip streams
Build-Depends: zlib
