Source: azure-iot-sdk-c
Version: 1.0.0-pre-release-1.0.9
Build-Depends: azure-uamqp-c, azure-umqtt-c, azure-c-shared-utility, parson
Description: A C99 SDK for connecting devices to Microsoft Azure IoT services 
