Source: kf5wallet
Version: 5.75.0
Homepage: https://api.kde.org/frameworks/kwallet/html/index.html
Description: Safe desktop-wide storage for passwords
Build-Depends: ecm, qt5-base, qt5-tools, kf5coreaddons, kf5config, kf5windowsystem, kf5i18n