Source: directxtex
Version: apr2021
Homepage: https://github.com/microsoft/DirectXTex
Description: DirectXTex texture processing library
Build-Depends: directxmath, directx-headers
Supports: windows|linux

Feature: dx12
Description: Build with DirectX12 support for Windows 10

Feature: openexr
Description: Enable OpenEXR support
Build-Depends: openexr
