Source: geogram
Version: 1.6.4
Description: Geogram is a programming library of geometric algorithms.
Build-Depends: openblas, clapack

Feature: graphics
Description: Build viewers and geogram_gfx library.
Build-Depends: glfw3
