Source: mapnik
Version: 3.0.22
Homepage: https://github.com/mapnik/mapnik
Description: Mapnik is an open source toolkit for developing mapping applications. 
Build-Depends: libjpeg-turbo, tiff, libpng, libwebp, freetype[bzip2,png], icu, libxml2, harfbuzz[icu],  boost-locale[icu], boost-regex[icu],  boost-gil, boost-geometry, boost-property-tree, boost-filesystem, boost-system, boost-spirit, boost-program-options, boost-assign, boost-bimap, mapbox-variant, zlib

Feature: CAIRO
Description: Cairo renderer
Build-Depends: cairo,cairomm

Feature: PROJ4
Description: PROJ4 Functionalities
Build-Depends: proj4[database]

Feature: INPUT_CSV
Description: CSV input plugin

Feature: INPUT_GDAL
Description: GDAL input plugin
Build-Depends: gdal

Feature: INPUT_GEOBUF
Description: GEOBUF input plugin
Build-Depends: protozero

Feature: INPUT_GEOJSON
Description: GEOJSON input plugin

Feature: INPUT_OGR
Description: OGR input plugin
Build-Depends: gdal

Feature: INPUT_PGRASTER
Description: PGRASTER input plugin
Build-Depends: libpq, libodb-pgsql

Feature: INPUT_POSTGIS
Description: POSTGIS input plugin
Build-Depends: libpq, libodb-pgsql

Feature: INPUT_RASTER
Description: RASTER input plugin

Feature: INPUT_SHAPE
Description: SHAPE input plugin

Feature: INPUT_SQLITE
Description: SQLITE input plugin
Build-Depends: sqlite3

Feature: INPUT_TOPOJSON
Description: TOPOJSON input plugin

Feature: DEMO
Description: Make Demo Application

Feature: UTILS
Description: Make utilities Application including mapnik-rendrer and shapeindex
