Source: lame
Version: 3.100
Description: LAME is a high quality MPEG Audio Layer III (MP3) encoder licensed under the LGPL.

Feature: sndfile
Build-Depends: libsndfile
Description: use libsndfile in lame
