Source: libgit2
Version: 1.0.1
Homepage: https://github.com/libgit2/libgit2
Build-Depends: zlib, openssl (!windows&&!uwp)
Description: Git linkable library
Supports: !uwp

Feature: pcre
Description: Build against external libpcre
Build-Depends: pcre

Feature: pcre2
Description: Build against external libpcre2
Build-Depends: pcre2
