Source: libstemmer
Version: 2017-9-4
Homepage: https://snowball.tartarus.org/
Description: Snowball is a small string processing language designed for creating stemming algorithms for use in Information Retrieval
