Source: log4cplus
Version: REL_2_0_1
Description: A simple to use C++ logging API providing thread--safe, flexible, and arbitrarily granular control over log management and configuration
Build-Depends: catch
