Source: harfbuzz
Version: 2.5.1-1
Description: HarfBuzz OpenType text shaping engine
Homepage: https://github.com/behdad/harfbuzz
Build-Depends: freetype, ragel, gettext (osx)
Default-Features: ucdn

Feature: graphite2
Build-Depends: graphite2
Description: Graphite2 shaper support

Feature: icu
Build-Depends: icu
Description: icu support for harfbuzz

Feature: ucdn
Description: Builtin (UCDN) Unicode callbacks support

Feature: glib
Build-Depends: glib
Description: Glib Unicode callbacks support
