Source: freetds
Version: 1.1.6-1
Homepage: https://www.freetds.org
Description: Implementation of the Tabular Data Stream protocol
Default-Features: openssl

Feature: openssl
Build-Depends: openssl
Description: OpenSSL support
