Source: kf5xmlgui
Version: 5.73.0
Homepage: https://api.kde.org/frameworks/kxmlgui/html/index.html
Description: Framework for managing menu and toolbar actions
Build-Depends: ecm, qt5-base, qt5-tools, kf5coreaddons, kf5itemviews, kf5config, kf5configwidgets, kf5i18n, kf5iconthemes, kf5widgetsaddons, kf5windowsystem, kf5guiaddons, kf5archive
