Source: boringssl
Version: 2020-02-07
Homepage: https://boringssl.googlesource.com/boringssl
Description: BoringSSl is a fork of OpenSSL developed by Google

Feature: tools
Description: Build bssl executable
