Source: libcds
Version: 2.3.3
Build-Depends: boost-system, boost-thread
Homepage: https://github.com/khizmax/libcds
Description: a collection of concurrent containers that don't require external (manual) synchronization for shared access, and safe memory reclamation (SMR) algorithms like Hazard Pointer and user-space RCU that is used as an epoch-based SMR.
