Source: chromium-base
Version: 86.0.4199.1
Homepage: https://chromium.googlesource.com/chromium/src
Description: Chromium is an open-source browser project that aims to build a safer, faster, and more stable way for all users to experience the web.
Supports: x64 & (osx|windows|linux) & !uwp