Source: libmupdf
Version: 1.12.0-2
Build-Depends: freetype, libjpeg-turbo, harfbuzz, zlib, curl, glfw3, openjpeg, jbig2dec
Homepage: https://github.com/ArtifexSoftware/mupdf
Description: a lightweight PDF, XPS, and E-book library
