Source: libwebp
Version: 1.0.2-4
Homepage: https://github.com/webmproject/libwebp
Description: Lossy compression of digital photographic images.
Build-Depends: opengl

Feature: all
Description: enable all webp features
Build-Depends: giflib, libjpeg-turbo, zlib, libpng, tiff, freeglut (!osx), sdl1 (windows)
