Source: miktex
Version: 2.9.6600
Description: MiKTeX is an up-to-date implementation of TeX along with other related programs
# freetype, cairo, libjpeg, libgd are only needed for static build
Build-Depends: icu, freetype, cairo, libjpeg-turbo, libgd
