Source: blaze
Version: 3.7
Port-Version: 1
Build-Depends: lapack, boost-exception
Homepage: https://bitbucket.org/blaze-lib/blaze
Description: Blaze is an open-source, high-performance C++ math library for dense and sparse arithmetic.
