Source: hiredis
Version: 2019-11-2
Port-Version: 3
Homepage: https://github.com/redis/hiredis
Description: Hiredis is a minimalistic C client library for the Redis database.
Supports: !uwp

Feature: ssl
Description: Build hiredis_ssl for SSL support
Build-Depends: openssl

Feature: example
Description: Build example
Build-Depends: libevent, pthread, libuv