Source: libproxy
Version: 0.4.15-2
Homepage: https://github.com/libproxy/libproxy
Description: libproxy is a library that provides automatic proxy configuration management.
Build-Depends: libmodman

Feature: bindings-csharp
Description: Install C# bindings

Feature: bindings-python
Description: Install Python bindings

Feature: bindings-perl
Description: Install PERL bindings

Feature: bindings-ruby
Description: Install Ruby bindings

Feature: bindings-vala
Description: Install Vala bindings

Feature: tools
Description: build tools

Feature: tests
Description: Build libproxy tests
