Source: azure-macro-utils-c
Version: 2020-07-19.1
Description: A library of macros for the Azure IoT SDK Suite

Feature: public-preview
Description: A library of macros for the Azure IoT SDK Suite (public-preview)
