Source: libsbml
Version: 5.18.0
Description: A free, open-source programming library to help you read, write, manipulate, translate, and validate SBML files and data streams
Build-Depends: zlib, libxml2, bzip2, libiconv, expat
Port-Version: 1


Feature: ENABLE_L3V2EXTENDEDMATH ON
Description: ENABLE_L3V2EXTENDEDMATH

Feature: ENABLE_LAYOUT ON
Description: ENABLE_LAYOUT

Feature: WITH_BZIP2 ON
Description: WITH_BZIP2

Feature: WITH_CHECK OFF
Description: WITH_CHECK

Feature: WITH_CPP_NAMESPACE ON
Description: WITH_CPP_NAMESPACE

Feature: WITH_CSHARP PFF
Description: WITH_CSHARP

Feature: WITH_EXAMPLES OFF
Description: WITH_EXAMPLES

Feature: WITH_EXPAT OFF
Description: WITH_EXPAT

Feature: WITH_JAVA OFF
Description: WITH_JAVA

Feature: WITH_JAVASCRIPT OFF
Description: WITH_JAVASCRIPT

Feature: WITH_LIBXML ON
Description: WITH_LIBXML

Feature: WITH_MATLAB OFF
Description: WITH_MATLAB

Feature: WITH_OCTAVE OFF
Description: WITH_OCTAVE

Feature: WITH_PERL OFF
Description: WITH_PERL

Feature: WITH_PHP OFF
Description: WITH_PHP

Feature: WITH_PYTHON OFF
Description: WITH_PYTHON

Feature: WITH_R OFF
Description: WITH_R

Feature: WITH_STATIC_RUNTIME OFF
Description: WITH_STATIC_RUNTIME

Feature: WITH_XERCES OFF
Description: WITH_XERCES

Feature: WITH_SWIG OFF
Description: WITH_SWIG

Feature: WITH_XERCES OFF
Description: WITH_XERCES

Feature: WITH_ZLIB ON
Description: WITH_ZLIB
