Source: proj4
Version: 6.3.1
Homepage: https://github.com/OSGeo/PROJ
Description: PROJ.4 library for cartographic projections
Build-Depends: sqlite3[core]
Default-Features: database

Feature: database
Build-Depends: sqlite3[tool] (!uwp&!arm)
Description: generate database