Source: libssh
Version: 0.7.6-1
Homepage: https://www.libssh.org/
Description: libssh is a multiplatform C library implementing the SSHv2 and SSHv1 protocol on client and server side
Build-Depends: openssl

Feature: zlib
Description: libssh with zlib
Build-Depends: zlib
