Source: xtensor-python
Version: 0.23.2
Description: Python bindings for the xtensor C++ multi-dimensional array library.
Homepage: https://quantstack.net/xtensor-python
Build-Depends: xtensor, pybind11
