Source: cctz
Version: 2.3-2
Homepage: https://github.com/google/cctz
Build-Depends: benchmark
Description: two libraries that cooperate with <chrono> to give C++ programmers all the necessary tools for computing with dates, times, and time zones in a simple and correct manner.
