Source: wt
Version: 4.5.0
Homepage: https://github.com/emweb/wt
Description: Wt is a C++ library for developing web applications
Build-Depends: zlib, libpng, pango (!windows), harfbuzz (!windows), libharu, glew, boost-algorithm, boost-array, boost-asio, boost-bind, boost-config, boost-container-hash, boost-filesystem, boost-fusion, boost-interprocess, boost-lexical-cast, boost-logic, boost-math, boost-multi-index, boost-optional, boost-phoenix, boost-pool, boost-program-options, boost-range, boost-serialization, boost-smart-ptr, boost-spirit, boost-system, boost-thread, boost-tokenizer, boost-tuple, boost-ublas, boost-variant
Default-Features: openssl

Feature: dbo
Description: Wt::Dbo

Feature: postgresql
Description: Wt::Dbo PostgreSQL backend
Build-Depends: libpq, wt[dbo]

Feature: sqlite3
Description: Wt::Dbo Sqlite 3 backend
Build-Depends: sqlite3, wt[dbo]

Feature: sqlserver
Description: Wt::Dbo MS SQL Server backend
Build-Depends: unixodbc (!windows), wt[dbo]

Feature: openssl
Description: TLS support
Build-Depends: openssl

Feature: graphicsmagick
Description: WRasterImage support on non-Windows based on GraphicsMagick
Build-Depends: graphicsmagick
