Source: google-cloud-cpp
Version: 0.12.0
Build-Depends: grpc, curl[ssl], crc32c, googleapis
Description: C++ Client Libraries for Google Cloud Platform APIs.
Homepage: https://github.com/googleapis/google-cloud-cpp
