Source: pcl
Version: 1.8.1-10
Homepage: https://github.com/PointCloudLibrary/pcl
Description: Point Cloud Library (PCL) is open source library for 2D/3D image and point cloud processing.
Build-Depends: eigen3, flann, qhull, vtk, libpng, boost-system, boost-filesystem, boost-thread, boost-date-time, boost-iostreams, boost-random, boost-foreach, boost-dynamic-bitset, boost-property-map, boost-graph, boost-multi-array, boost-signals2, boost-ptr-container, boost-uuid, boost-interprocess, boost-asio

Feature: openni2
Homepage: https://github.com/PointCloudLibrary/pcl
Description: OpenNI2 support for PCL
Build-Depends: openni2

Feature: qt
Homepage: https://github.com/PointCloudLibrary/pcl
Description: Qt support for PCL
Build-Depends: vtk[qt]

Feature: pcap
Homepage: https://github.com/PointCloudLibrary/pcl
Description: PCAP support for PCL
Build-Depends: winpcap

Feature: tools
Homepage: https://github.com/PointCloudLibrary/pcl
Description: Build PCL utilities
Build-Depends: boost-accumulators

Feature: cuda
Homepage: https://github.com/PointCloudLibrary/pcl
Description: CUDA support for PCL
Build-Depends: cuda