Source: curl
Version: 7.61.1-3
Build-Depends: zlib
Description: A library for transferring data with URLs
Default-Features: ssl

Feature: tool
Description: Builds curl executable

Feature: non-http
Description: Enables protocols beyond HTTP/HTTPS/HTTP2

Feature: http2
Build-Depends: nghttp2, curl[ssl]
Description: HTTP2 support

Feature: ssl
Build-Depends: curl[openssl] (!windows), curl[winssl] (windows)
Description: Default SSL backend

Feature: ssh
Build-Depends: curl[openssl], libssh2, curl[non-http]
Description: SSH support via libssh2

# SSL backends
Feature: openssl
Build-Depends: openssl
Description: SSL support (OpenSSL)

Feature: winssl
Description: SSL support (Secure Channel / "WinSSL")

Feature: mbedtls
Build-Depends: mbedtls
Description: SSL support (mbedTLS)
