Source: triton
Version: dev-v0.9
Homepage: https://github.com/JonathanSalwan/Triton
Description: Triton is a Dynamic Binary Analysis (DBA) framework. It provides internal components like a Dynamic Symbolic Execution (DSE) engine, a dynamic taint engine, AST representations of the x86, x86-64, ARM32 and AArch64 Instructions Set Architecture (ISA), SMT simplification passes, an SMT solver interface and, the last but not least, Python bindings.
Build-Depends: z3, capstone, boost-multiprecision, boost-numeric-conversion, boost-math
