Source: qt5-webengine
Version: 5.15.2
Port-Version: 2
Description: Qt5 webengine Module; 
Build-Depends:  qt5-base[core], qt5-declarative, qt5-location, qt5-quickcontrols, qt5-quickcontrols2, qt5-tools, qt5-webchannel, atlmfc (windows), ffmpeg[core] (!windows)
Supports: !static
Default-Features: 

Feature:  proprietary-codecs
Description: Enable proprietary-codecs in qtwebengine