Source: uthenticode
Version: 1.0.3
Description: A cross-platform library for verifying Authenticode signatures
Homepage: https://github.com/trailofbits/uthenticode
Supports: !uwp
Build-Depends: pe-parse, openssl
