Source: moos-essential
Version: 10.0.1-1
Description: a set of useful applications that leverage the core-moos communications layer See the MOOS homepage at https://sites.google.com/site/moossoftware/ for more information and documentation.
Build-Depends: moos-core
