Source: telnetpp
Version:  1.2.4-1
Homepage: https://github.com/KazDragon/telnetpp
Description:  Telnet++ is an implementation of the Telnet Session Layer protocol using C++14
Build-Depends: boost, gtest, zlib
