Source: redshell
Version: 1.0.0
Description: RedShell C++ SDK. Steam attribution tracking, www.redshell.io
# Built-Using: openssl (= 1.0.2k-2), cpprestsdk (= 2.9.0-2), boost (= 1.64-4), websocketpp (= 0.7.0), zlib (= 1.2.11), bzip2 (= 1.0.6-1)
