Source: horde3d
Version: 1.0.0
Homepage: https://github.com/horde3d/Horde3D
Description: Horde3D is a 3D rendering engine written in C++ with an effort being as lightweight and conceptually clean as possible.