Source: openvdb
Version: 6.0.0-2
Build-Depends: boost-ptr-container, openexr, tbb, blosc, boost-iostreams, boost-system, boost-thread, boost-date-time, boost-any, boost-uuid, boost-interprocess
Homepage: https://github.com/dreamworksanimation/openvdb
Description: Sparse volume data structure and tools

Feature: tools
Description: OpenVDB utilities: view, print and render
Build-Depends: glew, glfw3
