Source: spdlog
Version: 1.5.0
Homepage: https://github.com/gabime/spdlog
Description: Very fast, header only, C++ logging library
Build-Depends: fmt

Feature: benchmark
Description: Use google benchmark
Build-Depends: benchmark

Feature: wchar
Description: Enable support for wide character log messages and file names
