Source: lcm
Version: 1.4.0
Build-Depends: glib
Homepage: https://github.com/lcm-proj/lcm
Description: Lightweight Communications and Marshalling (LCM)
  LCM is a set of libraries and tools for message passing and data marshalling, targeted at real-time systems where high-bandwidth and low latency are critical. It provides a publish/subscribe message passing model and automatic marshalling/unmarshalling code generation with bindings for applications in a variety of programming languages.
