Source: sqlpp11-connector-mysql
Version: 0.29-1
Homepage: https://github.com/rbock/sqlpp11-connector-mysql
Description: A C++ wrapper for MySQL meant to be used in combination with sqlpp11.
Build-Depends: date, sqlpp11
Default-Features: mariadb

Feature: mariadb
Description: Use MariaDB connector
Build-Depends: libmariadb

Feature: mysql
Description: Use MySQL connector
Build-Depends: libmysql
