Source: gdal
Version: 2.4.4
Homepage: https://gdal.org/
Description: The Geographic Data Abstraction Library for reading and writing geospatial raster and vector data.
Build-Depends: proj4, libpng, geos, sqlite3, curl, expat, libpq, openjpeg, libwebp, libxml2, liblzma, netcdf-c, hdf5, zlib
Default-Features: latest, kmz

Feature: mysql-libmariadb
Build-Depends: libmariadb
Description: Add mysql support using libmariadb

Feature: libspatialite
Build-Depends: libspatialite
Description: Create or update SpatiaLite databases using libspatialite

Feature: kmz
Build-Depends: libkml
Description: Add kmz support using libkml

Feature: latest
Description: Build latest gdal version (3.0.4)
