Source: date
Version: ed0368f
Homepage: https://github.com/HowardHinnant/date
Description: A date and time library based on the C++11/14/17 <chrono> header

Feature: remote-api
Description: support automatic download of tz data
Build-Depends: curl
