Source: tiff
Version: 4.0.10-9
Build-Depends: zlib, libjpeg-turbo, liblzma
Homepage: https://download.osgeo.org/libtiff
Description: A library that supports the manipulation of TIFF image files

Feature: tool
Description: Build tools
