Source: msix
Version: 1.7-2
Build-Depends: xerces-c, zlib, openssl (!uwp&!windows), catch2
Homepage: https://github.com/microsoft/msix-packaging
Description: The MSIX Packaging SDK project is an effort to enable developers on a variety of platforms to pack and unpack packages for the purposes of distribution from either the Microsoft Store, or their own content distribution networks.
  The MSIX Packaging APIs that a client app would use to interact with .msix/.appx packages are a subset of those documented here. See sample/ExtractContentsSample/ExtractContentsSample.cpp for additional details.
