Source: opusfile
Version: 0.11-2
Homepage: https://github.com/xiph/opusfile
Description: Stand-alone decoder library for .opus streams
Build-Depends: libogg, opus

Feature: opusurl
Description: Support decoding of http(s) streams
Build-Depends: openssl
