Source: openimageio
Version: 1.7.15-1
Description: An library for reading and writing images, and a bunch of related classes, utilities, and application
Build-Depends: boost, libjpeg-turbo, tiff, libpng, openexr
