Source: qpid-proton
Version: 0.28.0
Build-Depends: openssl (!windows&!uwp), libuv (osx), jsoncpp
Homepage: https://github.com/apache/qpid-proton
Description: Qpid Proton is a high-performance, lightweight messaging library.