Source: xcb-proto
Version: 1.13
Homepage: https://xcb.freedesktop.org/
Description: XML-XCB protocol descriptions used by libxcb for the X11 protocol & extensions
Build-Depends: bzip2, xorg-macros, libxml2[lint]
