Source: cppgraphqlgen
Version: 3.2.3
Build-Depends: boost-filesystem (!uwp&!windows), boost-program-options, pegtl, rapidjson
Description: C++ GraphQL schema service generator
Homepage: https://github.com/microsoft/cppgraphqlgen
