Source: cppgraphqlgen
Version: 2020-12-07
Build-Depends: boost-program-options, pegtl, rapidjson
Description: C++ GraphQL schema service generator
Homepage: https://github.com/microsoft/cppgraphqlgen
