Source: wxmathplot
Version: 2019-09-16
Build-Depends: wxwidgets
Homepage: https://sourceforge.net/projects/wxmathplot
Description: wxMathPlot is an add-on library for wxWidgets which provides a framework for easy plotting of mathematical functions, sampled data and generic 2D plots.
