Source: wxmathplot
Version: 0.1.3-r95
Build-Depends: wxwidgets
Homepage: https://sourceforge.net/projects/wxmathplot
Description: wxMathPlot is an add-on library for wxWidgets which provides a framework for easy plotting of mathematical functions, sampled data and generic 2D plots.
