Source: ffmpeg
Version: 4.3.2
Port-Version: 5
Homepage: https://ffmpeg.org
Description: a library to decode, encode, transcode, mux, demux, stream, filter and play pretty much anything that humans and machines have created.
  FFmpeg is the leading multimedia framework, able to decode, encode, transcode, mux, demux, stream, filter and play pretty much anything that humans and machines have created. It supports the most obscure ancient formats up to the cutting edge. No matter if they were designed by some standards committee, the community or a corporation. It is also highly portable: FFmpeg compiles, runs, and passes our testing infrastructure FATE across Linux, Mac OS X, Microsoft Windows, the BSDs, Solaris, etc. under a wide variety of build environments, machine architectures, and configurations.
Default-Features: avresample, avcodec, avformat, avdevice, avfilter, postproc, swresample, swscale

Feature: ffmpeg
Build-Depends: ffmpeg[core,avcodec,avfilter,avformat]
Description: Build the ffmpeg application

Feature: ffplay
Build-Depends: ffmpeg[core,avcodec,avfilter,avformat,swscale,swresample,sdl2]
Description: Build the ffplay application

Feature: ffprobe
Build-Depends: ffmpeg[core,avcodec,avformat]
Description: Build the ffprobe application

Feature: avcodec
Description: Build the avcodec library

Feature: avformat
Build-Depends: ffmpeg[core,avcodec]
Description: Build the avformat library

Feature: avdevice
Build-Depends: ffmpeg[core,avcodec,avformat]
Description: Build the avdevice library

Feature: avfilter
Description: Build the avfilter library

Feature: postproc
Build-Depends: ffmpeg[core,gpl]
Description: Build the postproc library

Feature: swresample
Description: Build the swresample library

Feature: swscale
Description: Build the swscale library

Feature: avresample
Description: Build the avresample library

Feature: nonfree
Description: Allow use of nonfree code, the resulting libs and binaries will be unredistributable

Feature: gpl
Description: Allow use of GPL code, the resulting libs and binaries will be under GPL

Feature: version3
Description: Upgrade (L)GPL to version 3

Feature: all
Build-Depends: ffmpeg[bzip2,iconv,freetype,lzma,mp3lame,openjpeg,opus,snappy,soxr,speex,theora,vorbis,vpx,webp,zlib], ffmpeg[ass] (!(uwp | arm)), ffmpeg[dav1d] (!(uwp | arm | x86 | osx)), ffmpeg[fontconfig] (!(windows & static) & !(uwp | arm)), ffmpeg[fribidi] (!(uwp | arm)), ffmpeg[ilbc] (!(arm & uwp)), ffmpeg[modplug] (!(windows & static) & !uwp), ffmpeg[nvcodec] ((windows | linux) & !uwp & !arm), ffmpeg[opencl] (!uwp), ffmpeg[ssh] (!(uwp | arm) & !static), ffmpeg[opengl] (!uwp & !(windows & arm) & !osx), ffmpeg[sdl2] (!osx), ffmpeg[tensorflow] (!(x86 | arm | uwp) & !static), ffmpeg[tesseract] (!uwp & !(windows & arm) & !static), ffmpeg[wavpack] (!arm), ffmpeg[xml2] (!static)
Description: Build with all allowed dependencies selected that are compatible with the lgpl license

Feature: all-gpl
Build-Depends: ffmpeg[gpl,all], ffmpeg[avisynthplus] (windows & !arm & !uwp & !static), ffmpeg[x264] (!arm), ffmpeg[x265] (!arm & !uwp)
Description: Build with all allowed dependencies selected that are compatible with the gpl license

Feature: all-nonfree
Build-Depends: ffmpeg[nonfree,all-gpl,openssl], ffmpeg[fdk-aac] (!arm & !uwp)
Description: Build with all allowed dependencies selected with a non-redistributable license

Feature: ass
Build-Depends: libass
Description: Libass subtitles rendering, needed for subtitles and ass filter support in ffmpeg

Feature: avisynthplus
Build-Depends: avisynthplus, ffmpeg[core,gpl]
Description: Reading of AviSynth script files

Feature: bzip2
Build-Depends: bzip2
Description: Bzip2 support

Feature: dav1d
Build-Depends: dav1d
Description: AV1 decoding via libdav1d

Feature: iconv
Build-Depends: libiconv
Description: Iconv support

Feature: ilbc
Build-Depends: libilbc
Description: iLBC de/encoding via libilbc

Feature: fdk-aac
Build-Depends: fdk-aac, ffmpeg[core,nonfree]
Description: AAC de/encoding via libfdk-aac

Feature: fontconfig
Build-Depends: fontconfig
Description: Useful for drawtext filter

Feature: freetype
Build-Depends: freetype
Description: Needed for drawtext filter

Feature: fribidi
Build-Depends: fribidi
Description: Improves drawtext filter

Feature: lzma
Build-Depends: liblzma
Description: lzma support

Feature: modplug
Build-Depends: libmodplug
Description: ModPlug via libmodplug

Feature: mp3lame
Build-Depends: mp3lame
Description: MP3 encoding via libmp3lame

Feature: nvcodec
Build-Depends: ffnvcodec
Description: Nvidia video decoding/encoding acceleration

Feature: opencl
Build-Depends: opencl
Description: OpenCL processing

Feature: opengl
Build-Depends: opengl, opengl-registry
Description: OpenGL rendering

Feature: openjpeg
Build-Depends: openjpeg
Description: JPEG 2000 de/encoding via OpenJPEG

Feature: openssl
Build-Depends: openssl, ffmpeg[core,nonfree]
Description: Needed for https support if gnutls, libtls or mbedtls is not used

Feature: opus
Build-Depends: opus
Description: Opus de/encoding via libopus

Feature: sdl2
Build-Depends: sdl2
Description: Sdl2 support

Feature: snappy
Build-Depends: snappy
Description: Snappy compression, needed for hap encoding

Feature: soxr
Build-Depends: soxr
Description: Include libsoxr resampling

Feature: speex
Build-Depends: speex
Description: Speex de/encoding via libspeex

Feature: ssh
Build-Depends: libssh
Description: SFTP protocol via libssh

Feature: tensorflow
Build-Depends: tensorflow
Description: TensorFlow as a DNN module backend for DNN based filters like sr

Feature: tesseract
Build-Depends: tesseract
Description: Tesseract, needed for ocr filter

Feature: theora
Build-Depends: libtheora
Description: Theora encoding via libtheora

Feature: vorbis
Build-Depends: libvorbis
Description: Vorbis en/decoding via libvorbis, native implementation exists

Feature: vpx
Build-Depends: libvpx
Description: VP8 and VP9 de/encoding via libvpx

Feature: wavpack
Build-Depends: wavpack
Description: Wavpack encoding via libwavpack

Feature: webp
Build-Depends: libwebp
Description: WebP encoding via libwebp

Feature: x264
Build-Depends: x264, ffmpeg[core,gpl]
Description: H.264 encoding via x264

Feature: x265
Build-Depends: x265, ffmpeg[core,gpl]
Description: HEVC encoding via x265

Feature: xml2
Build-Depends: libxml2
Description: XML parsing using the C library libxml2, needed for dash demuxing support

Feature: zlib
Build-Depends: zlib
Description: zlib support
