Source: ffmpeg
Version: 3.3.3-3
Description: a library to decode, encode, transcode, mux, demux, stream, filter and play pretty much anything that humans and machines have created.
  FFmpeg is the leading multimedia framework, able to decode, encode, transcode, mux, demux, stream, filter and play pretty much anything that humans and machines have created. It supports the most obscure ancient formats up to the cutting edge. No matter if they were designed by some standards committee, the community or a corporation. It is also highly portable: FFmpeg compiles, runs, and passes our testing infrastructure FATE across Linux, Mac OS X, Microsoft Windows, the BSDs, Solaris, etc. under a wide variety of build environments, machine architectures, and configurations.

Feature: openssl
Build-Depends: openssl
Description: enable openssl, needed for https support

Feature: x264
Build-Depends: x264
Description: enable H.264 encoding via x264

Feature: x265
Build-Depends: x265
Description: enable HEVC encoding via x265

Feature: lame
Build-Depends: lame
Description: enable MP3 encoding via libmp3lame

Feature: vorbis
Build-Depends: libvorbis
Description: enable Vorbis en/decoding via libvorbis

Feature: fdk-aac
Build-Depends: fdk-aac
Description: enable AAC de/encoding via libfdk-aac

Feature: tools
Description: build ffmpeg and ffprobe program
