Source: sentencepiece
Version: 0.1.82
Port-Version: 1
Description: SentencePiece is an unsupervised text tokenizer and detokenizer mainly for Neural Network-based text generation systems where the vocabulary size is predetermined prior to the neural model training
Supports: osx|linux|(windows&static)