Source: xsimd
Version: 2019-12-12
Description: Modern, portable C++ wrappers for SIMD intrinsics
Homepage: https://github.com/QuantStack/xsimd

Feature: xcomplex
Description: xtl complex support
Build-Depends: xtl
