Source: xsimd
Version: 7.4.5
Description: Modern, portable C++ wrappers for SIMD intrinsics
Homepage: https://github.com/xtensor-stack/xsimd

Feature: xcomplex
Description: xtl complex support
Build-Depends: xtl
