Source: autoconf
Version: 2.69
Homepage: https://www.gnu.org/software/autoconf/
Description: Autoconf is an extensible package of M4 macros that produce shell scripts to automatically configure software source code packages.