Source: mathgl
Version: 2.4.3-3
Description: MathGL is a free library of fast C++ routines for the plotting of the data varied in one or more dimensions
Default-Features: opengl, jpeg, png, zlib

Feature: hdf5
Build-Depends: hdf5
Description: hdf5 module

Feature: fltk
Build-Depends: fltk
Description: fltk module

Feature: gif
Build-Depends: giflib
Description: gif module

Feature: png
Build-Depends: libpng
Description: png module

Feature: zlib
Build-Depends: zlib
Description: zlib module

Feature: jpeg
Build-Depends: libjpeg-turbo
Description: jpeg module

Feature: gsl
Build-Depends: gsl
Description: gsl module

Feature: opengl
Build-Depends: opengl
Description: opengl module

Feature: glut
Build-Depends: freeglut
Description: glut module

Feature: wx
Build-Depends: wxwidgets
Description: wx module

Feature: qt5
Build-Depends: qt5
Description: qt5 module
