Source: eabase
Version: 2.09.09
Homepage: https://github.com/electronicarts/EABase
Description: Electronic Arts Base.
  EABase is a small set of header files that define platform-independent data types and macros.
