Source: ois
Version: 1.5-1
Description: Cross Platform Object Oriented Input Lib System. Meant to be very robust and compatiable with many systems and operating systems.
Homepage: https://wgois.github.io/OIS/