Source: cgicc
Version: 3.2.19-1
Homepage: https://www.gnu.org/software/cgicc/
Description: GNU Cgicc is an ANSI C++ compliant class library that greatly simplifies the creation of CGI applications for the World Wide Web
