Source: poco
Version: 1.10.1
Port-Version: 2
Build-Depends: expat, pcre, zlib
Description: Modern, powerful open source C++ class libraries for building network and internet-based applications that run on desktop, server, mobile and embedded systems.
Homepage: https://github.com/pocoproject/poco
Supports: !uwp

Feature: mysql
Build-Depends: libmysql
Description: Mysql support for POCO

Feature: mariadb
Build-Depends: libmariadb
Description: MariaDB support for POCO

Feature: postgresql
Build-Depends: libpqxx
Description: PostgreSQL support for POCO

Feature: sqlite3
Build-Depends: sqlite3
Description: Sqlite3 support for POCO

Feature: netssl
Build-Depends: openssl
Description: NetSSL support for POCO

Feature: pdf
Build-Depends: libharu
Description: Haru support for POCO