Source: highfive
Version: 2.2.2
Homepage: https://github.com/BlueBrain/HighFive
Description: HighFive is a modern C++/C++11 friendly interface for libhdf5
Build-Depends: hdf5

Feature: boost
Description: Enables Boost support
Build-Depends: boost-ublas, boost-multi-array

Feature: tests
Description: Build unit tests
Build-Depends: highfive[boost], boost-test
