Source: globjects
Maintainer: mattias@mattiascibien.net
Version: 1.0.0-1
Build-Depends: glbinding, glm
Description: C++ library strictly wrapping OpenGL objects. <https://github.com/cginternals/globjects>
