Source: qgis
Version: final-3_14_16
Homepage: https://qgis.org
Description:  QGIS is a free, open source, cross platform (lin/win/mac) geographical information system (GIS) 
Build-Depends: expat, hdf5, libxml2, libzip, zlib, libspatialindex, libspatialite, glib, gdal, opencl, exiv2, gsl, libpq, protobuf, proj4, geos, qt5-base, qt5-svg, qt5-location, qt5-tools, qt5-macextras (osx), qt5-winextras (windows), qwt, qca, qscintilla, qtkeychain
Default-Features: bindings, 3d, quick, pip-mirrors

Feature: server
Description: Determines whether QGIS server should be built
Build-Depends: fastcgi

Feature: bindings
Description: Determines whether python bindings should be built
Build-Depends: python3

Feature: 3d
Description: Determines whether QGIS 3D library should be built
Build-Depends: qt5-3d

Feature: quick
Description: Determines whether QGIS Quick library should be built
Build-Depends: qt5-declarative

Feature: pip-mirrors
Description: Use aliyun proxy to speed up pypi downloads in China

Feature: sip5
Description: Use sip5 build qgis