Source: czmq
Version: 2019-06-10-3
Build-Depends: zeromq
Description: High-level C binding for ZeroMQ
Homepage: https://github.com/zeromq/czmq

Feature: tool
Description: Build and install czmq tools (zmakecert)

Feature: draft
Description: Build and install draft APIs

Feature: curl
Description: Build with libcurl
Build-Depends: curl

Feature: lz4
Description: Build with lz4
Build-Depends: lz4

Feature: httpd
Description: Build with HTTP server support (libmicrohttpd)
Build-Depends: libmicrohttpd

Feature: uuid
Description: Build with libuuid
Build-Depends: libuuid (!windows&!uwp&!osx)
