Source: crashrpt
Version: 1.4.3
Description: A crash reporting system for Windows applications
Homepage: http://crashrpt.sourceforge.net/
Build-Depends: dbghelp, libjpeg-turbo, libogg, libpng, libtheora, tinyxml, wtl, zlib
Default-Features:

Feature: probe
Description: The CrashRptProbe library

Feature: tests
Description: Test application for crashrpt
Build-Depends: crashrpt[core,probe]

Feature: demos
Description: Demo applications for CrashRptProbe
