Source: nmslib
Version: 1.7.2
Description: Alembic is an open framework for storing and sharing scene data that includes a C++ library, a file format, and client plugins and applications. http://alembic.io/

Feature: extra
Description: Build extra stuff for nmslib
Build-Depends: gsl, eigen3, boost-system, boost-filesystem
