Source: freerdp
Version: 2.1.1-1
Homepage: https://github.com/FreeRDP/FreeRDP
Description: A free implementation of the Remote Desktop Protocol (RDP)
Build-Depends: openssl, glib (!windows)
Supports: !(arm|uwp)

Feature: urbdrc
Description: USB redirection channel support
Build-Depends: libusb
