Source: folly
Version: v2017.05.01.00-1
Description: An open-source C++ library developed and used at Facebook
Build-Depends: zlib, openssl, boost, libevent, double-conversion, glog, gflags, lz4, liblzma, snappy
