Source: folly
Version: 2019.01.28.00
Description: An open-source C++ library developed and used at Facebook. The library is UNSTABLE on Windows
Build-Depends: openssl, libevent, double-conversion, glog, gflags, boost-chrono, boost-context, boost-conversion, boost-crc, boost-date-time, boost-filesystem, boost-multi-index, boost-program-options, boost-regex, boost-system, boost-thread
Default-Features: zlib

Feature: zlib
Build-Depends: zlib
Description: Support zlib for compression

Feature: bzip2
Build-Depends: bzip2
Description: Support bzip2 for compression

Feature: lzma
Build-Depends: liblzma
Description: Support LZMA for compression

Feature: zstd
Build-Depends: zstd
Description: Support zstd for compression

Feature: snappy
Build-Depends: snappy
Description: Support Snappy for compression

Feature: lz4
Build-Depends: lz4
Description: Support lz4 for compression
