Source: directxmesh
Version: aug2020
Port-Version: 2
Homepage: https://walbourn.github.io/directxmesh
Description: DirectXMesh geometry processing library

Feature: dx12
Description: Build with DirectX12 support for Windows 10
