Source: qt5-charts
Version: 5.12.7
Description: Qt5 Charts Module - UI components for displaying charts, driven by static or dynamic data models
Build-Depends:  qt5-base, qt5-declarative, qt5-multimedia
