Source: libusb-win32
Version: 1.2.6.0-2
Homepage: https://sourceforge.net/projects/libusb-win32/files/libusb-win32-releases/${LIBUSB_VERSION}/libusb-win32-src-${LIBUSB_VERSION}.zip/download
Description: Allows user space applications to access many USB device on Windows.
