Source: gts
Version: 0.7.6-1
Homepage: https://github.com/finetjul/gts
Description: A Library intended to provide a set of useful functions to deal with 3D surfaces meshed with interconnected triangles
Build-Depends: glib
