Source: magnum-plugins
Version: 2019.01-1
Build-Depends: magnum[core]
Description: Plugins for magnum, C++11/C++14 graphics middleware for games and data visualization 
Homepage: https://magnum.graphics/
Default-Features: ddsimporter, miniexrimageconverter, opengeximporter, stanfordimporter, stbimageconverter, stbimageimporter

Feature: assimpimporter
Description: AssimpImporter plugin
Build-Depends: assimp, magnum[anyimageimporter], magnum[trade]

Feature: openddl
Description: OpenDdl library

Feature: ddsimporter
Description: DdsImporter plugin
Build-Depends: magnum[trade]

Feature: devilimageimporter
Description: DevIlImageImporter plugin
Build-Depends: devil, magnum[trade]

Feature: drflacaudioimporter
Description: DrFlacAudioImporter plugin
Build-Depends: magnum[audio]

Feature: drwavaudioimporter
Description: DrWavAudioImporter plugin
Build-Depends: magnum[audio]
#
#Feature: faad2audioimporter
#Description: Faad2AudioImporter plugin
#Build-Depends: magnum[audio], faad2

Feature: freetypefont
Description: FreeTypeFont plugin
Build-Depends: freetype, magnum[text]

Feature: harfbuzzfont
Description: HarfBuzzFont plugin
Build-Depends: harfbuzz, magnum-plugins[freetypefont]

Feature: jpegimporter
Description: JpegImporter plugin
Build-Depends: libjpeg-turbo, magnum[trade]

Feature: jpegimageconverter
Description: JpegImageConverter plugin
Build-Depends: libjpeg-turbo, magnum[trade]

Feature: miniexrimageconverter
Description: MiniExrImageConverter plugin
Build-Depends: magnum[trade]

Feature: opengeximporter
Description: OpenGexImporter plugin
Build-Depends: magnum[anyimageimporter], magnum[trade], magnum-plugins[openddl]

Feature: pngimageconverter
Description: PngImageConverter plugin
Build-Depends: libpng, magnum[trade]

Feature: pngimporter
Description: PngImporter plugin
Build-Depends: libpng, magnum[trade]

Feature: stanfordimporter
Description: StanfordImporter plugin
Build-Depends: magnum[trade]

Feature: stbimageconverter
Description: StbImageConverter plugin
Build-Depends: magnum[trade]

Feature: stbimageimporter
Description: StbImageImporter plugin
Build-Depends: magnum[trade]

Feature: stbtruetypefont
Description: StbTrueTypeFont plugin
Build-Depends: magnum[text]

Feature: stbvorbisaudioimporter
Description: StbVorbisAudioImporter plugin
Build-Depends: magnum[audio]

Feature: tinygltfimporter
Description: TinyGltfImporter plugin
Build-Depends: magnum[anyimageimporter], magnum-plugins[stbimageimporter], magnum[trade]
