Source: mimalloc
Version: 2019-06-25-1
Description: Compact general purpose allocator with excellent performance
Homepage: https://github.com/microsoft/mimalloc

Feature: asm
Description: Generate assembly files

Feature: override
Description: Override the standard malloc interface

Feature: secure
Description: Use security mitigations (like guard pages and randomization)
