Source: marble
Version: 19.08.2
Homepage: https://marble.kde.org
Description: Marble KDE library
Build-Depends: qt5

Feature: tools
Description: support for tools

Feature: tests
Description: support for tests

Feature: plugins
Description: Build plugins for Qt Designer