Source: mongo-cxx-driver
Version: 3.2.0-2
Build-Depends: libbson, mongo-c-driver, boost-smart-ptr, boost-optional, boost-utility
Homepage: https://github.com/mongodb/mongo-cxx-driver
Description: MongoDB C++ Driver.
