Source: mongo-cxx-driver
Version: 3.4.0-1
Build-Depends: libbson, mongo-c-driver, boost-smart-ptr, boost-optional, boost-utility
Homepage: https://github.com/mongodb/mongo-cxx-driver
Description: MongoDB C++ Driver.

Feature: mnmlstc
Description: Use MNMLSTC/core C++17 polyfill.

Feature: system-mnmlstc
Description: Use an available version of MNMLSTC on your system as C++17 polyfill.

Feature: boost
Description: Use Boost C++17 polyfill. The only option under MSVC.

Feature: std-experimental
Description: Use optional and string_view from std::experimental.
