Source: libzip
Version: rel-1-5-2
Homepage: https://github.com/nih-at/libzip
Build-Depends: zlib
Default-Features: openssl, bzip2
Description: A library for reading, creating, and modifying zip archives.

Feature: bzip2
Build-Depends: bzip2
Description: Support bzip2-compressed zip archives

Feature: openssl
Build-Depends: openssl
Description: AES (encryption) support using OpenSSL
