Source: msinttypes
Version: 2018-02-25
Homepage: https://github.com/chemeris/msinttypes
Description: msinttypes is a package to provide missing  ISO C9x  compliant headers for Microsoft Visual Studio
