Source: ace
Version: 6.5.8
Description: The ADAPTIVE Communication Environment
Homepage: https://www.dre.vanderbilt.edu/~schmidt/TAO.html

Feature: wchar
Description: Enable extra wide char functions

Feature: ssl
Build-Depends: openssl
Description: Enable SSL/TLS features

Feature: xerces-c
Build-Depends: xerces-c
Description: Enable XML features

Feature: zlib
Build-Depends: zlib
Description: Enable zlib support

Feature: bzip2
Build-Depends: bzip2
Description: Enable bzip2 support

Feature: tao
Description: The ACE ORB



