Source: ace
Version: 7.0.3
Homepage: https://www.dre.vanderbilt.edu/~schmidt/ACE.html
Description: The ADAPTIVE Communication Environment
Port-Version: 0

Feature: wchar
Description: Enable extra wide char functions in ACE

Feature: ssl
Description: Enable SSL/TLS features in ACE
Build-Depends: openssl

Feature: xml
Description: Enable XML features in ACE

Feature: zlib
Build-Depends: zlib
Description: Enable zlib support

Feature: tao
Description: The ACE ORB
