Source: sentry-native
Version: 0.4.1
Port-Version: 2
Homepage: https://sentry.io/
Description: Sentry SDK for C, C++ and native applications.
Build-Depends: curl (!windows)
Supports: !(arm|arm64|uwp)
