Source: opencl
Version: 2.2-2
Homepage: https://github.com/KhronosGroup/OpenCL-Headers
Description: C/C++ headers and ICD loader (Installable Client Driver) for OpenCL

Feature: wdk
Description: Windows Driver Kit support
