Source: redis-plus-plus
Version: 1.1.1
Homepage: https://github.com/sewenew/redis-plus-plus
Description: This is a C++ client for Redis. It's based on hiredis, and written in C++ 11.
Build-Depends: hiredis