Source: licensepp
Version: 2020-05-19
Port-Version: 1
Description: Cross platform software licensing library
Build-Depends: cryptopp[pem-pack]
Supports: !uwp
Homepage: https://github.com/zuhd-org/licensepp
