Source: wampcc
Build-Depends: openssl, libuv, jansson
Version: 2019-09-04
Description: Wampcc is C++ library that implements the Web Application Messaging Protocol (WAMP) protocol.

Feature: utils
Description: Build utility apps

Feature: examples
Description: Build example apps