Source: openmvg
Version: 1.5
Port-Version: 1
Description: open Multiple View Geometry library. Basis for 3D computer vision and Structure from Motion.
Build-Depends: coinutils, clp, osi, liblemon, flann, eigen3, ceres[suitesparse,cxsparse], cereal, libjpeg-turbo, tiff, libpng, zlib, vlfeat

Feature: opencv
Build-Depends: opencv[contrib]
Description: opencv support for openmvg

Feature: openmp
Description: openmp support for openmvg

Feature: software
Build-Depends: qt5-base, qt5-svg
Description: build openMVG tools
