Source: blosc
Version: 1.16.3-1
Build-Depends: lz4, snappy, zlib, zstd
Homepage: https://github.com/Blosc/c-blosc
Description: A blocking, shuffling and loss-less compression library that can be faster than `memcpy()`
