Source: libsndfile
Version: 1.0.29-6830c42-7
Description: Library to read, write and manipulate many soundfile types. Authored by Eric de Castro Lopo
Homepage: https://github.com/erikd/libsndfile
Default-Features: external-libs

Feature: external-libs
Description: Support Ogg Vorbis and FLAC audio files
Build-Depends: libogg, libflac, libvorbis
