Source: trompeloeil
Version: 33
Description: A thread-safe header-only mocking framework for C++11/14 using the Boost Software License 1.0
    For issues/pull requests/questions visit https://github.com/rollbear/trompeloeil
