Source: xlib
Version: 1.7.0
Homepage: https://www.x.org/wiki/
Description: The X Window System is a network-transparent window system that was designed at MIT.
Build-Depends: bzip2, xtrans, xcb, xproto
Default-Features:

Feature: no-feature
Description: just a dummy
Build-Depends:
