Source: xlib
Version: 11-1.6.9
Homepage: https://www.x.org/wiki/
Description: The X Window System is a network-transparent window system that was designed at MIT.
Build-Depends: bzip2, xtrans, xcb, xproto, xext
Default-Features:

Feature: no-feature
Description: just a dummy
Build-Depends:
