Source: raylib
Version: 3.5.0
Description: A simple and easy-to-use library to enjoy videogames programming
Homepage: https://github.com/raysan5/raylib
Supports: !(arm|uwp)
Default-Features: use-audio

Feature: hidpi
Description: Support high-DPI displays

Feature: use-audio
Description: Build raylib with audio module
