Source: imgui
Version: 1.77
Port-Version: 2
Homepage: https://github.com/ocornut/imgui
Description: Bloat-free Immediate Mode Graphical User interface for C++ with minimal dependencies.

Feature: allegro5-binding
Description: Make available Allegro5 binding
Build-Depends: allegro5

Feature: dx9-binding
Description: Make available DirectX9 binding

Feature: dx10-binding
Description: Make available DirectX10 binding

Feature: dx11-binding
Description: Make available DirectX11 binding

Feature: dx12-binding
Description: Make available DirectX12 binding

Feature: glfw-binding
Description: Make available GLFW binding
Build-Depends: glfw3

Feature: glut-binding
Description: Make available Glut binding
Build-Depends: freeglut

Feature: marmalade-binding
Description: Make available Marmalade binding

Feature: metal-binding
Description: Make available Metal binding

Feature: opengl2-binding
Description: Make available OpenGL (legacy) binding

Feature: opengl3-glew-binding
Description: Make available OpenGL3/ES/ES2 (modern) binding with GLEW
Build-Depends: glew

Feature: opengl3-glad-binding
Description: Make available OpenGL3/ES/ES2 (modern) binding with glad
Build-Depends: glad

Feature: opengl3-gl3w-binding
Description: Make available OpenGL3/ES/ES2 (modern) binding with gl3w
Build-Depends: gl3w

Feature: opengl3-glbinding-binding
Description: Make available OpenGL3/ES/ES2 (modern) binding glbinding
Build-Depends: glbinding

Feature: osx-binding
Description: Make available OSX binding

Feature: sdl2-binding
Description: Make available SDL2 binding
Build-Depends: sdl2

Feature: vulkan-binding
Description: Make available Vulkan binding
Build-Depends: vulkan

Feature: win32-binding
Description: Make available Win32 binding

Feature: freetype
Description: Build font atlases using FreeType instead of stb_truetype
Build-Depends: freetype
