Source: netcdf-cxx4
Version: 4.3.0-4
Build-Depends: netcdf-c
Homepage: https://github.com/Unidata/netcdf-cxx4
Description: a set of machine-independent data formats that support the creation, access, and sharing of array-oriented scientific data.
