Source: python3-numpy
Version: 1.18.4-2
Description: NumPy is the fundamental package for scientific computing with Python.
Build-Depends: python3-setuptools, python3-cython
Default-Features: openblas
Supports: (windows)

Feature: openblas
Description: use openblas as numpy backend

Feature: mkl
Description: use MKL as numpy backend
Build-Depends: intel-mkl
