Source: exiv2
Version: 0.27.3
Port-Version: 4
Build-Depends: zlib, libiconv, gettext
Description: Image metadata library and tools
Homepage: https://www.exiv2.org
Supports: !uwp

Feature: unicode
Description: Compile with unicode support on windows

Feature: xmp
Description: Build with XMP metadata support
Build-Depends: expat

Feature: video
Description: Build video support into library
