Source: genann
Version: 122243f
Homepage: https://github.com/codeplea/genann
Description: Genann is a minimal, well-tested library for training and using feedforward artificial neural networks (ANN) in C.