Source: osg
Version: 3.6.4-3
Homepage: https://github.com/openscenegraph/OpenSceneGraph
Description:  The OpenSceneGraph is an open source high performance 3D graphics toolkit.
Build-Depends: zlib, fontconfig, boost-asio (!windows), boost-core (!windows), boost-logic (!windows), boost-lexical-cast (!windows), boost-smart-ptr (!windows), boost-tuple (!windows), boost-bind (!windows), freeglut (windows), expat (windows), openimageio (osx)

Feature: collada
Description: Support for Collada (.dae) files
Build-Depends: collada-dom

Feature: tools
Description: Enable to build OSG Applications (e.g. osgviewer)
Build-Depends: freetype, sdl1, curl, libjpeg-turbo, libpng, libiconv (windows)

Feature: examples
Description: Enable to build OSG Examples
Build-Depends: freetype, sdl1, sdl2, libiconv (windows)

Feature: plugins
Description: Build OSG Plugins - Disable for compile testing examples on a time limit
Build-Depends: freetype, sdl1, curl, openexr, ilmbase, gdal, giflib (windows), jasper, libjpeg-turbo, libpng, tiff, libxml2 (windows), libiconv (windows), libgta, liblas, nvtt

Feature: packages
Description: Set to ON to generate CPack configuration files and packaging targets

Feature: docs
Description: Build OpenSceneGraph reference documentation using doxygen (use: make doc_openscenegraph doc_openthreads