Source: nuklear
Version: 2019-03-29
Homepage: https://github.com/vurtun/nuklear
Description: This is a minimal state immediate mode graphical user interface toolkit written in ANSI C and licensed under public domain
