Source: nanomsg
Version: 1.1.5-1
Description: a simple high-performance implementation of several "scalability protocols".
  These scalability protocols are light-weight messaging protocols which can be used to solve a number of very common messaging patterns, such as request/reply, publish/subscribe, surveyor/respondent, and so forth. These protocols can run over a variety of transports such as TCP, UNIX sockets, and even WebSocket.

Feature: tool
Description: nanomsg tool (nanocat)
