Source: brynet
Version: 1.0.2
Homepage: https://github.com/IronsDu/brynet
Description: A C++ cross platform high performance tcp network library, and support SSL/HTTP/Websocket.
Build-Depends: openssl
