Source: restbed
Version: 4.16-07-28-2018-2
Description: Corvusoft's Restbed framework brings asynchronous RESTful functionality to C++11 applications.
Build-Depends: asio

Feature: openssl
Build-Depends: openssl
Description: Secure over the wire communication allowing you to transmit private data online.
